.missionsContainer{
  background-color: #EEE5E5;
  width: 50%;
  height: 50%;
  border-radius: 20px;
}

.missionsTitle {
  text-align: center;
}

.missionsList{
  align-items: center;
}

.flex-down {
  display: flex;
  flex-direction: column;
  gap: 20px;
}