.missionsContainer{
  background-color: #303030;
  width: 50%;
  height: 630px;
  border-radius: 20px 20px 70px 70px;
}

.missionsTitle {
  text-align: center;
  color:#f1f3f4;
  margin-bottom: 0;
}

.missionsList{
  align-items: center;
}

.flex-down {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
