.navbar{
  background-color: #484848;
  height: 100px;
  width: 90%;
  margin: auto;
}

.title {
  color:#6aa84f;
  text-align: center;
  font-size: 60px;
  flex: 2 1 0;
}

.flex {
  display: flex;
}

.navlink {
  display: block;
  align-items: center;
  text-align: center;
  list-style: none;
  color: #6aa84f;
  text-decoration: none;
  font-size: 1rem;
  padding: 15px;
  margin-top: 15px;
  padding: 5px;
  font-size: 25px;
}

.navlink:hover {
  color: #D0EFB1;
}
